@model IEnumerable<MovieViewModel>

<div class="row">
    @foreach (var movie in Model)
    {
    <div class="col-md-3"><img src="https://place-hold.it/225x332" alt="@movie.Title" class="img-thumbnail img-responsive"> <p class="text-center">@movie.Score / 5 <br> @movie.Title</p></div>
    }
</div>