@model UserViewModel

@{
    ViewData["Title"] = "Project – Recommendation System";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>User @Model.Id</h2>
  </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <input type="hidden" id="UserId" value="@Model.Id">
        <h3>Ratings</h3>
        <div id="ratings" class="row">
            <partial name="_Ratings" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>Recommendations</h3>
        <!-- Nav tabs -->
        <label for="min-rec">Min. # of ratings per movie</label><input type="text" id="min-rec" placeholder="Default 2">
        <ul class="nav nav-tabs recommendations" role="tablist">
            <li role="presentation"><a href="#pearson" aria-controls="pearson" role="tab" data-toggle="tab">Pearson</a></li>
            <li role="presentation"><a href="#euclidean" aria-controls="euclidean" role="tab" data-toggle="tab">Euclidean</a></li>
        </ul>

        <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="pearson">
                </div>
                <div role="tabpanel" class="tab-pane" id="euclidean">
                </div>
            </div>
        </div>
    </div>
</div>